/*Début Page Accueil*/
#bodyaccueil {
    background-color: rgb(83, 83, 83);
}

#fullaccueil {
    display: flex;
    flex-direction: column;
}

#lecteursaccueil {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

#nouveauteaccueil {
    background-color: rgb(58, 58, 58);
    color: rgb(255, 242, 221);
    display: flex;
    flex-direction: column;
    text-align: right; 
    padding-right: 3%;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(207, 2, 2);
    margin-left: 20%;
}

#hitaccueil {
    background-color: rgba(122, 122, 122, 0.733);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 3%;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-radius: 10px;
    box-shadow: -3px 3px 5px rgb(207, 2, 2);
    margin-right: 20%;
}

#classicaccueil {
    background-color: rgba(230, 230, 230, 0.781);
    display: flex;
    flex-direction: column;
    text-align: right;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    border-radius: 10px;
    box-shadow: 3px -3px 3px rgb(207, 2, 2);
}

.audioaccueil {
    display: flex;
    flex-direction: column;
}

.song {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
}

#hitaccueil .song {
    justify-content: start;
}

#classicaccueil h3 {
    text-align: center;
}

#classicaccueil .song {
    justify-content: center;
}

.song p {
    width: auto;
    margin: 2%;
}
.hraccueil {
    width: 70%;
    margin-top: 3%;
    border: 2px rgb(207, 2, 2) outset;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

.h2accueil {
    text-decoration: underline;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 20px rgb(207, 2, 2);
}

#categorieaccueil {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45vh;
}

.pochetteaccueil {
    position: relative; 
    width: 90%;
}

.pochetteaccueil img {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    width: 100%;
    height: 45vh;
}

.buttoncategorieaccueil {
    position: absolute;
    z-index: 2;
    display: none;
    background-color: rgba(110, 18, 18, 0.61);
    text-align: center;
    font-size: 1.3em;
    color: white;
    font-family: cursive;
    width: 100%;
    height: 45vh;
    align-content: center;
}

.pochetteaccueil:hover .buttoncategorieaccueil{
    display: block;
}

.inputaccueil {
    width: 70%;
    height: 50%;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}

.inputaccueil:hover {
    background-color: rgba(255, 255, 255, 0.582);
    color: rgb(88, 17, 17);
    font-weight: bold;
}
/*Fin Page Accueil*/